body {
    width: 100%;
    max-width: 640px;
    min-width: 320px;
    margin: 0 auto;
    color: #666;
    font-family: -apple-system, 'Helvetica Neue', sans-serif;
    font-size: 14px;
    line-height: 1.5;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

img {
    vertical-align: middle;
}

a {
    color: #666;
    text-decoration: none;
}

* {
    -webkit-tap-highlight-color: transparent;
}

input {
    -webkit-appearance: none;
}

img, a {
    -webkit-touch-callout: none;
}

/* top  */

.app {
    height: 45px;
}

.app ul li {
    float: left;
    height: 45px;
    background-color: #333333;
    color: #fff;
    line-height: 45px;
    text-align: center;
}

.app ul li:nth-child(1) {
    width: 8%;
}

.app ul li:nth-child(1) img {
    width: 10px;
}

.app ul li:nth-child(2) {
    width: 10%;
}

.app ul li:nth-child(2) img {
    width: 30px;
    vertical-align: middle;
}

.app ul li:nth-child(3) {
    width: 57%;
}

.app ul li:nth-child(4) {
    width: 25%;
    background-color: #f63515;
}

/* search */

.search-wrap {
    position: fixed;
    width: 100%;
    max-width: 640px;
    min-width: 320px;
    height: 44px;
    overflow: hidden;
}

.search-btn {
    position: absolute;
    top: 0;
    left: 0;
    width: 40px;
    height: 44px;
}

.search-btn::after {
    content: "";
    display: block;
    width: 20px;
    height: 18px;
    background: url(../images/btn.png) no-repeat;
    background-size: 20px 18px;
    margin: 14px 0 0 15px;
}

.search-login {
    position: absolute;
    top: 0;
    right: 0;
    width: 40px;
    height: 44px;
    color: #fff;
    line-height: 44px;
}

.search-bar {
    position: relative;
    height: 30px;
    background-color: #fff;
    border-radius: 15px;
    margin: 7px 50px 0;
}

.jd-icon {
    position: absolute;
    top: 8px;
    left: 13px;
    width: 20px;
    height: 15px;
    background: url(../images/jd.png) no-repeat;
    background-size: 20px 15px;
}

.jd-icon::after {
    position: absolute;
    top: 0;
    right: -10px;
    content: "";
    display: block;
    width: 1px;
    height: 15px;
    background-color: #ccc;
}

.zoom {
    position: absolute;
    top: 8px;
    left: 50px;
    width: 20px;
    height: 18px;
    background-image: url(../images/jd-sprites.png);
    background-position: -80px 0;
    background-repeat: no-repeat;
    background-size: 200px auto;
}

/* main  */

.banner img {
    width: 100%;
}

.adv {
    border-radius: 10px 10px 0 0;
    overflow: hidden;
}

.adv div {
    float: left;
    width: 33.33%;
}

.adv div a img {
    width: 100%;
}

nav {
    padding-top: 5px;
}

nav a {
    float: left;
    width: 20%;
    text-align: center;
}

nav a img {
    width: 40px;
    margin: 10px 0;
}

nav span {
    display: block;
    font-size: 11px;
}

/* news */

.news img {
    width: 100%;
}

.news a {
    margin-top: 20px;
    float: left;
    box-sizing: border-box;
}

.news a:nth-child(1) {
    width: 50%
}

.news a:nth-child(n+2) {
    width: 25%;
    border-left: 1px solid #ccc;
}